* {

    font-family: roboto;


}




/* ESTILOS HOME*/


.header-image {
    background-image: url(./../imagenes/botellas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0;
    width: 100%;
    height: 35em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;



}

.h1-home {

    font-size: 5em;
    color: #ff8000;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-weight: bolder;
    position: relative;
    animation: bounceInfinite 1s infinite;
}



@keyframes bounceInfinite {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 25px;
    }

    100% {
        bottom: 0;
    }
}


.description {
    text-align: center;
    background-color: #FFFAF0;
    padding-bottom: 10px;

}

.section3 {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    text-align: center;
    background-color: #FFFAF0;


}


.logo-div-home {
    width: 70px;
    height: 70px;
    background-color: #f9a600;
    border-radius: 10%;


}


/* ESTILOS MY BEERS*/

.body-style {
    background-color: #ff8205;

}

.header {
    text-align: center;
    padding-top: 80px;
    background-color: #FFFAF0;
    padding-right: 100px;
    padding-left: 100px;
}


.title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
}

.paragraph {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;


}


.mybeers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    background-color: #ff8205;
    padding-top: 10px;

}


.one-beer {
    text-align: center;
    border: 1px solid #ebcf9f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 20px;
    width: 250px;
    align-items: center;
    padding: 20px 20px;
    background-color: #fff4e1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

.one-beer img {
    width: 100px;
    height: 300px;
}

.get-beers-button {
    background-color: #ece68c;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;


}





/* ESTILOS FAQ*/


.faq-style {

    padding-bottom: 15px;
    text-align: center;
    background-color: #FFFAF0;
    color: rgb(130, 81, 21);
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.w3-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;


}







.title-style {
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    font-size: 40px;

}


.faq-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-top: 40px;
    margin-bottom: 30px;
   padding-left: 100px;
   padding-right: 100px;
}

.p-faq {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}






/* ESTILOS LOGIN*/





.login-image {
    background-image: url(./../imagenes/cheers.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0;
    width: 100%;
    height: 35em;
    position: relative;
    opacity: 1;
    height: 100vh;

}

.login-h2 {
    
    color: black;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 3em;

}

.login-style {
    text-align: center;
    padding-top: 160px;
    background-color: #FFFAF0
}


#login-form {
    display: flex;
    flex-direction: column;
    border: none;
    width: 200px;
    margin: 0 auto;

}

#login-form input {
    text-align: center;

}



.button-style {
    background-color: #ff8205;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    

}








/* ESTILOS SIGNUP*/

.signup-style {
    text-align: center;
    padding-top: 10em;


}

#signup-form {
    display: flex;
    flex-direction: column;
    border: none;
    width: 15em;
    margin: 0 auto;


}


.button-style {
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    transition: 0.3s ease;
    cursor: pointer;


}



#signup-form input {
    text-align: center;
    width: 15em;
}




.signup-image {
    background-image: url(./../imagenes/cerveza.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0;
    width: 100%;
    height: 100vh;

}

.style-h2 {
    color: black;
    text-align: center;
    padding-top: 0.5em;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 3em;


}

.message-container {
    font-weight: bold;
    background-color: rgb(238, 136, 116);
    display: flex;
    flex-direction: column;
    border: none;
    width: 400px;
    

    margin: 0 auto;


}

.message-container p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto
    
}