* {
   
    font-family: roboto;
    
   
}




/* ESTILOS HOME*/


.header-image {
    background-image: url(./../imagenes/botellas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0;
    width: 100%;
    height: 35em;
    position: relative;
  
    
}

.h1-home {
    
    font-size:140px;
    color:#ff8000;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'Oleo Script', cursive;
    font-weight: bolder;
    

    
    
 
}

.description {
text-align: center;
background-color: #FFFAF0;
padding-bottom: 10px;

}

.section3 {
    
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
    text-align: center;
    background-color: #FFFAF0;
    
    
    }


.logo-div-home {
        width: 60px;
        height: 60px;
        background-color: #f9a600;
    
}

/* ESTILOS MY BEERS*/

.body-style{
    background-color: #ff8205;

}

.header{
    text-align: center;
    padding-top: 80px;
    background-color: #FFFAF0;;
    padding-right: 100px;
    padding-left:100px;    
}


.title{
font-family: 'Courier New', Courier, monospace;
font-weight: bolder;
font-size: 50px;
}

.paragraph {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
    
}



 .mybeers{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    align-content: space-around;
    background-color: #ff8205;
    padding-top: 10px;
}
    
    
.one-beer{
    text-align: center;
    border: 1px solid #ebcf9f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
    width: 250px;
    align-items: center;
    padding: 20px 20px;
    background-color: #fff4e1;
     
}

.one-beer img{
    width: 100px;
}

.style-button{
    background-color:#ff8205;
    border-style: solid;
    font-weight: bold;
    align-items: center;
    
}  



/* ESTILOS FAQ*/


.faq-style{
  padding-top: 80px;
  text-align: center;
  background-color:#FFFAF0;
  color: rgb(130, 81, 21);
  
  
}

.title-style{
font-family: 'Varela Round', sans-serif;
font-weight: bolder;
font-size: 40px;

}

.subtitle-style{
font-family: 'Varela Round', sans-serif;
font-size: 30px;
font-weight: bolder;
text-align: center;

}

.list{
    list-style: none;
}
.question{
    font-weight: bolder;
    font-style: italic;

}


.jarro-image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 250px;
    position: relative;
    animation: bounceInfinite 1s infinite;
    
}

@keyframes bounceInfinite {
    0% {bottom: 0;}
    50% {bottom: 25px; }
    100% {bottom: 0;}
  }

.div{
    background-color: #ff8205;
    padding-top: 50px;
    height: 100vh;
  
}





/* ESTILOS LOGIN*/


.login-image {
    background-image: url(./../imagenes/cheers.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0;
    width: 100%;
    height: 35em;
    position: relative;
    opacity: 1;
    
}
.login-style{
    text-align: center;
    padding-top: 200px;
    background-color:#FFFAF0
   
}


#login-form {
    display: flex;
    flex-direction: column;
    border: none;
    width: 200px;
    margin: 0 auto;
    
    }
    
    #login-form input{
        text-align: center;
        
    }

    .login-h2{
        color: black;
        text-align: center;
        padding-top: 0.5em;
        font-weight: bold;
        font-family: "Courier New", Courier, monospace;
        font-size: 2.5em;
        
    }

    .button-style{
        background-color: rgb(238, 178, 27);
        border-style: solid;
        font-weight: bold;
        fon
    }  
    



/* ESTILOS SIGNUP*/

.signup-style{
    text-align: center;
    padding-top: 12em;
    

}

#signup-form {
display: flex;
flex-direction: column;
border: none;
width: 15em;
margin: 0 auto;


}


.button-style{
    background-color: rgb(238, 178, 27);
    border-style: solid;
    font-weight: bold;
}  



#signup-form input{
    text-align: center;
    width: 15em;
}




.signup-image {
    background-image: url(./../imagenes/cerveza.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0;
    width: 100%;
    height: 100vh;
    
   
    

    
}

.style-h2{
    color: black;
    text-align: center;
    padding-top: 0.5em;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 2.5em;
    

}

.message-container{
    font-weight: bold;
    background-color: rgb(233, 191, 183);
    display: flex;
    flex-direction: column;
    border: none;
    width: 20em;
    margin: 0 auto;
  

}

